*build/
netflix-prize-data
*/ot_receiver_test
*/ot_sender_test
datasets/A
datasets/B
datasets/C
datasets/A-enc
datasets/B-enc
datasets/C-enc
datasets/A-dec
datasets/B-dec
datasets/C-dec
*.vscode
FastOT/ot_receiver_for_AES
FastOT/ot_receiver_test
FastOT/ot_sender_test
FastOT/ot_sender_for_AES
*.DS_*
.vagrant/