*build/
netflix-prize-data
*/ot_receiver_test
*/ot_sender_test
datasets/A
datasets/B
datasets/C
*.vscode
FastOT/ot_receiver_for_AES
FastOT/ot_receiver_test
FastOT/ot_sender_test
FastOT/ot_sender_for_AES